./RNA_Motif/RNAdegformer-Webapp
./RNA_Motif/UTRsite_PatSearch/UTRdb2/Homo_sapiens.GRCh38.107.cleaned.utrs
./RNA_Motif/UTRsite_PatSearch/UTRdb2/Homo_sapiens.GRCh38.107.utrs
./RNA_Interaction/BRIO/.git
./RNA_annotation/RhoFold/example
